<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="~/Scripts/dist/Home/react/bundle.js" async></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
